@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font Inter dari Google Fonts */


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Inter', sans-serif;
}

.hr-body-cs {
  width: 198px;
  height: 10px;
  background-color: #605DFF;
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 2.1));
  /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.21)); */
  z-index: 1;
}

.shadow.top {
  top: 105px;
  transform: rotate(180deg);
}

.shadow.center{
  top: 320px;
  transform: rotateY(1deg);
}

.shadow.bottom {
  bottom: 230px;
}

.group-text-home {
  z-index: 99999;
}

.img-home-hero {
  z-index: 9999;
}

.img-content-hero { 
  position: relative;
}

.img-content-hero-2 { 
  position: relative;
  /* z-index: -1; */
}

.img-content-hero-3 { 
  position: relative;
  /* z-index: -1; */
}
.img-content-hero-5 {
  position: relative;
}

.content-frame-img-1 {
  position: absolute;
  left: 520px;
  bottom: -60px;
  margin-left: 0px;
  /* z-index: 999; */
}

.content-frame-img-2 {
  position: absolute;
  left: 0px;
  bottom: 300px;
  margin-left: 0px;
  /* z-index: 1; */
}

.content-frame-img-3 {
  position: absolute;
  right: 0px;
  bottom: -90px;
  margin-left: 0px;
  /* z-index: 1; */
}
.content-frame-img-4 {
  position: absolute;
  right: 0px;
  bottom: -80px;
  margin-left: 0px;
  z-index: 999;
}

.content-frame-img-5 {
  position: absolute;
  right: 0px;
  bottom: 1499px;
  margin-left: 0px;
  z-index: 1;
}

.frame-img-1 {
  max-width: 100%;
  height: auto;
}

.frame-img-2 {
  max-width: 80%;
  /* width: 795.65px; */
  height: auto;
}

.frame-img-3 {
  width: 450px;
  height: auto;
}

.tess {
  height: 740px;
  object-fit: contain;
}

.frame-img-4 {
  width: 590px;
  /* max-width: 100%; */
  height: auto;
}

.frame-img-5{
  width: 680px;
  height: auto;
}

.btn-gallery-cs {
  border-radius: 20px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family); /* Menggunakan font Inter */
}

html {
  scroll-behavior: smooth;
}
