@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font Inter dari Google Fonts */


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Inter', sans-serif;
}

.hr-body-cs {
  width: 198px;
  height: 10px;
  background-color: #605DFF;
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 2.1));
  /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.21)); */
  z-index: 1;
}

.shadow.top {
  top: 0;
  transform: rotate(180deg);
}

.shadow.bottom {
  bottom: 0;
}

.group-text-home {
  z-index: 99999;
}

.img-home-hero {
  z-index: 9999;
}

.img-content-hero { 
  position: relative;
}

.img-content-hero-2 { 
  position: relative;
  z-index: -1;
}

.img-content-hero-3 { 
  position: relative;
  z-index: -1;
}

.content-frame-img-1 {
  position: absolute;
  left: 520px;
  bottom: -5px;
  margin-left: 0px;
  z-index: 999;
}

.content-frame-img-2 {
  position: absolute;
  left: -172px;
  bottom: -180px;
  margin-left: 0px;
  z-index: 1;
}

.content-frame-img-3 {
  position: absolute;
  right: -470px;
  bottom: -300px;
  margin-left: 0px;
  z-index: 1;
}

.frame-img-1 {
  max-width: 100%;
  height: auto;
}

.frame-img-2 {
  width: 995.65px;
  height: auto;
}

.frame-img-3 {
  width: 60%;
  height: 60%;
}

.btn-gallery-cs {
  font-size: 24px;
  font-weight: 700;
  width: 220px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--font-family); /* Menggunakan font Inter */
  font-style: normal;
}

.btn-gallery-cs:hover {
  font-size: 24px;
  font-weight: 700;
  width: 220px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--font-family); /* Menggunakan font Inter */
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family); /* Menggunakan font Inter */
}

html {
  scroll-behavior: smooth;
}
